.preview-page{
    // height: 100vh;
    width: 100svw;

    background-color: $background;
    display: flex;
    justify-content: center;

    .preview-content{
        margin-top: 50px;
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        overflow-x: hidden;
        .post-title{
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
        }
        .view-image{
            // height: 35vh;
            width: 100%;
            display: flex;
            justify-content: center;
            overflow: hidden;
            img{
                width: 70%;
            }
        }
        .creator{
            font-size: 1.5rem;
            font-style: italic;
            border-bottom: 1px solid $primary;
            padding-bottom: 10px;
        }
        .story-container{
            display: flex;
            justify-content: center;
            .story{
                font-size: 1.3rem;
                letter-spacing: 1px;
                width: 70%;
                // border: 1px solid white;
                line-height: 2rem;
            }
        }

    }
}