// @import "./Components/Quill/quill.bubble.scss";
// @import "./Components/Quill/quill.core.scss";
// @import "./Components/Quill/quill.snow.scss";
// @import "./Components/Quill/NoEdit/quill.bubble-no-edit.scss";
// @import "./Components/Quill/NoEdit/quill.core-no-edit.scss";
// @import "./Components/Quill/NoEdit/quill.snow-no-edit.scss";

@import "./variables.scss";
@import "./Pages/LandingPage/layout.scss";
@import "./Components/Navigation/navigation.scss";
@import "./Pages/Login/login.scss";
@import "./Components/Form/form.scss";
@import "./Components/Button/buttons.scss";
@import "./Pages/Signup/signup.scss";
@import "./Components/Messages/messages.scss";
@import "./Pages/CreatePost/createPost.scss";
@import "./Pages/CreatePost/previewPost.scss";

@import "./Components/Quill/quill.bubble.scss";
@import "./Components/Quill/quill.core.scss";
@import "./Components/Quill/quill.snow.scss";
@import "./Components/Quill/NoEdit/quill.bubble-no-edit.scss";
@import "./Components/Quill/NoEdit/quill.core-no-edit.scss";
@import "./Components/Quill/NoEdit/quill.snow-no-edit.scss";
@import './Components/Navigation/side-navigation.scss';
@import './Pages/LandingPage/explore.scss';
@import './Pages/ViewPost/viewPost.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $text;
}

body {
  overflow-x: hidden;
}
.item-trigger {
  background-color: black;
}

.ql-syntax {
  background-color: rgba(128, 128, 128, 0.219) !important;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  font-family: monospace;
  width: 100%;
}

.ql-picker-options {
  background-color: black !important;
}

button.ql-image {
  display: none !important;
}

div.p-editor-content.ql-container.ql-snow{
background-color: $primary-transperant!important;
  transition: 0.2s ease-in-out;
  & >*:focus{
    background-color: $background-dark;
    transition: 0.2s ease-in-out;
  }
}

//Scrollbar
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $primary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primary-dark;
  // border: 2px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $primary-mid;
}
