@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");


$text: #e5f0f8;
$text-dark: #061b2b;
$background: #081622;
$background-dark: #010407;
$background-transperent:#07111a67;
$primary: #8fbde2;
$primary-transperant: #4297dd3a;
$secondary: #7c2120;
$accent: #d2cb55;

