button{
    background-color: $primary-transperant;
    border: none;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    &:hover{
        scale: 1.05;
        transform: translateY(-1px);
        transition: 0.2s ease-in-out;
        background-color: $primary;
        color: $text-dark;
    }
}