.history {
  .tabs {
    display: flex;
    gap: 4rem;
    align-items: flex-end;
    margin-left: 50px;
    font-size: 1.4rem;
    z-index: 25;
    font-weight: 500;
    color: $text;
    .tab {
      background-color: $primary-dark;
      padding: 10px 10px;
      position: relative;
      border-radius: 5px 5px 0 0;
      width: 200px;
      text-align: center;
      z-index: 25;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      &:after {
        position: absolute;
        z-index: 1;
        content: "";
        right: -10%;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $primary-dark;
        -webkit-transform: skewX(10deg);
        -moz-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
        border-radius: 5px 5px 0 5px;
        transition: 0.2s ease-in-out;
      }
      &:before {
        border-radius: 5px 5px 0 0;
        z-index: 1;
        content: "";
        position: absolute;
        left: -10%;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $primary-dark;
        -webkit-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
        transition: 0.2s ease-in-out;
      }
    }
    .inactive {
      background-color: $primary-dark-inactive;
      color: gray;
      &:after {
        position: absolute;
        z-index: 1;
        content: "";
        right: -10%;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $primary-dark-inactive;
        -webkit-transform: skewX(10deg);
        -moz-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
        border-radius: 5px 5px 0 5px;
      }
      &:before {
        border-radius: 5px 5px 0 0;
        z-index: 1;
        content: "";
        position: absolute;
        left: -10%;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $primary-dark-inactive;
        -webkit-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
      }
    }
  }
  .post-tab, .comment-tab {
    height: 90%;
    width: 100%;
    background: linear-gradient($primary-dark 1%, $primary-transperant 100%);
    bottom: 0;
    left: 0;
    border-radius: 20px;
  }
}

.post-tab{

  .posts{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:1rem ;
    padding: 20px;
    border-radius: 10px;
    padding-top: 30px;
    .post{
      background-color: $background-transperent;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
      width: 100%;
      border-radius: 15px;
      transition: 0.2s ease-in-out;
      user-select: none;
      &:hover{
        box-shadow: 0 0 25px rgb(138, 138, 138);
        scale: 1.01;
        transition: 0.2s ease-in-out;
      }
      .post-title{
        font-size: 1.3rem;
        font-weight: 600;
        width: fit-content;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }

      }
      .post-created{
        font-size: 0.8rem;
        color: gray;
      }
      .post-tags{
        display: flex;
        width: 80%;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 10px;
        .tag{
          font-weight: 500;
          border: 1px solid $primary-transperant;
          padding: 5px;
          border-radius: 10rem;
          background-color: $background-transperent-dark;


        }
      }
      .post-buttons{
        // position: absolute;
        display: flex;
        gap: 1rem;
        right: 30px;
        transition: 0.2s ease-in-out;
        .icon{
          height: 30px;
          width: 30px;
          fill:$primary
        }
        .trash-can{
          &:hover{
            fill: rgb(196, 93, 93);
          }
        }
      }
    }
  }
}

.comment-tab{
  .comments{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 20px;
    padding: 10px 10px;
    .comment{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.3rem;
      background-color: $background-transperent;
      padding: 10px;
      border-radius: 10px;
      transition: 0.2s ease-in-out;
      &:hover{
        box-shadow: 0 0 25px rgb(138, 138, 138);
        scale: 1.01;
        transition: 0.2s ease-in-out;
      }
      .comment-title{
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;
        width: fit-content;
        &:hover{
          text-decoration: underline;
        }


      }
      .comment-created{
        font-size: 0.8rem;
        color: gray;
      }
      .comment-post{
        font-size: 1rem;
      }
      .post-buttons{
        // position: absolute;
        display: flex;
        gap: 1rem;
        right: 30px;
        transition: 0.2s ease-in-out;
        .icon{
          height: 30px;
          width: 30px;
          fill:$primary;
          cursor: pointer;

        }
        .trash-can{
          &:hover{
            fill: rgb(196, 93, 93);
          }
        }
      }
    }
  }





}
.pagination{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  .page-numbers{
    display: flex;
    gap: 2rem;

    font-size: 1.5rem;
    .number{
      cursor: pointer;
      user-select: none;
      color: gray;
      width: 50px;
      text-align: center;
      .chevron{
        fill:white;
        height: 30px;
      }
    }
    .prev-page .number{
      display: flex;
      align-self: center;
      .chevron{
        transform: rotate(90deg);
        fill: gray;
      }
    }
    .next-page .number{
      display: flex;
      align-self: center;
      .chevron{
        transform: rotate(-90deg);
        fill: gray;
      }
    }
    .curr-page{
      font-size: 1.6rem;
      text-decoration: underline;
      color: $text;
    }
  }

}
