.history {
  .tabs {
    height: 10%;
    display: flex;
    gap: 4rem;
    align-items: flex-end;
    margin-left: 50px;
    font-size: 1.4rem;
    z-index: 25;
    font-weight: 500;
    color: $text;
    .tab {
      background-color: $primary-dark;
      padding: 10px 10px;
      position: relative;
      border-radius: 5px 5px 0 0;
      width: 150px;
      text-align: center;
      z-index: 25;
        cursor: pointer;
        transition: 0.2s ease-in-out;
      &:after {
        position: absolute;
        z-index: 1;
        content: "";
        right: -10%;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $primary-dark;
        -webkit-transform: skewX(10deg);
        -moz-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
        border-radius: 5px 5px 0 5px;
        transition: 0.2s ease-in-out;
      }
      &:before {
        border-radius: 5px 5px 0 0;
        z-index: 1;
        content: "";
        position: absolute;
        left: -10%;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $primary-dark;
        -webkit-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
        transition: 0.2s ease-in-out;
      }
    }
    .inactive {
      background-color: $primary-dark-inactive;
      color: gray;
      &:after {
        position: absolute;
        z-index: 1;
        content: "";
        right: -10%;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $primary-dark-inactive;
        -webkit-transform: skewX(10deg);
        -moz-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
        transform: skewX(10deg);
        border-radius: 5px 5px 0 5px;
      }
      &:before {
        border-radius: 5px 5px 0 0;
        z-index: 1;
        content: "";
        position: absolute;
        left: -10%;
        top: 0;
        height: 100%;
        width: 20%;
        background-color: $primary-dark-inactive;
        -webkit-transform: skewX(-10deg);
        -moz-transform: skewX(-10deg);
        -ms-transform: skewX(-10deg);
        transform: skewX(-10deg);
      }
    }
  }
  .post-tab, .comment-tab {
    height: 90%;
    width: 100%;
    background: linear-gradient($primary-dark 1%, $primary-transperant 100%);
    bottom: 0;
    left: 0;
    border-radius: 20px;
  }
}
