.profile{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(250, 250, 250, 0.04) 1px, transparent 1px),
    linear-gradient(to right, rgba(250, 250, 250, 0.04) 1px, transparent 1px);
  background-size: 25px 25px;
  background-color: #000000;
  font-family: raleway;
}