input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea {
  font-family: "Futura PT", sans-serif;
  padding: 12px 17px;
  font-size: 1.2rem;
  border-radius: 10px;
  width: 100%;
  padding-top: 35px;
  cursor: pointer;
  color: #000;
  background-color: $primary-transperant;
  border: none;
  transition: 0.2s ease-in-out;
  color: $text;
  &:focus{
      transition: 0.2s ease-in-out;
      background-color: $background-dark;
      color: #fff;
      outline: none;
  }

}

.unselected{
  color: gray;
}



.floating-label-group {
  position: relative;
  width: 100%;
  .currency{
    position: absolute;
    right: 10px;
    top: 20px;
  }

  .floating-label {
    font-size: 20px;
    color: $accent;
    position: absolute;
    pointer-events: none;
    top: 4px;
    left: 12px;
    transition: all 0.1s ease;
  }
}

input.donate{
  margin-top: 20px;
  height: 40px;
  padding: 4px 10px;
  cursor: inherit;
  outline: 1px solid rgb(165, 164, 164);
  border: 1px solid rgb(165, 164, 164);
}
