.login-page{
    display: flex;
    position: relative;

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: $background;
    font-family: raleway;

    .login-content{
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        .top{
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
        }
        .form{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            justify-content: center;
            .login-confirm{
                display: flex;
                justify-content: center
            }

        };

    }
    .fineprint{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .sign-up{
            span{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}


//1200px
@media only screen and (max-width: $tablet-width) {
}

//1000px
@media only screen and (max-width: $tablet-small-width) {
    .login-page{
        .login-content{
            width: 80vw;

            .top{

            }
            .form{

                .login-confirm{

                }

            };

        }
        .fineprint{

            .sign-up{
                span{

                    cursor: pointer;
                }
            }
        }
    }

}

//700px
@media only screen and (max-width: $phone-width) {

}
