.search-page {
  // height: 100vh;
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(250, 250, 250, 0.04) 1px, transparent 1px),
    linear-gradient(to right, rgba(250, 250, 250, 0.04) 1px, transparent 1px);
  background-size: 25px 25px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  font-family: raleway;
  position: relative;

}

.search-page-body {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 50px;
  .search-bar {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    button{
        height: fit-content;
        // width: fit-content;
    }
    .inputs {
      display: flex;
      gap: 2rem;
      justify-content: center;
      align-items: center;
      .double{
        display: flex;
        gap: 1rem;
      }
    }
    .search-tags {
      position: relative;
      .tag-selector {
        position: relative;
      }
    }
    .selected-tags {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-wrap: wrap;
      gap: 0.8rem;
      justify-content: center;
      .tag {
        border: 1px solid white;
        display: flex;
        justify-content: center;
        padding: 0 10px;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        width: max-content;
        border-radius: 10rem;
        height: fit-content;
        cursor: pointer;
      }
    }
  }
  .search-pagination{
    position: absolute;
    bottom: 15px;
    width: 100vw;
    left: 0;
    display: flex;
    justify-content: center;
    right: 50%;
    // width: fit-content;
  }
}

.tag-dropdown {
  width: 100%;
  display: flex;
  position: absolute;
  top: 55px;
  flex-direction: column;
  background-color: $primary-dark;
  padding: 10px;
  height: 40vh;
  overflow: scroll;
  transition: 0.25s ease-in-out;
  .tag {
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px;
    width: 100%;

    // padding-right: 100%;
    &:hover {
      background-color: $background-transperent;
    }
    label {
      cursor: pointer;
    }
  }
}

.search-results {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  min-height: 70vh;

  .title{
    font-size: 3rem;
    font-weight: 600;
  }
  .result {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    gap: 1.5rem;
    border-bottom: 1px solid rgb(163, 163, 163);
    padding-bottom: 10px;
    .left {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .title {
        font-size: 1.5rem;
        font-weight: 500;
      }
      .created {
        display: flex;
        flex-direction: row;
        span {
          color: gray;
          a {
            color: gray;
          }
        }
      }
    }
    .tags {
      display: flex;
      gap: 0.4rem;
      flex-wrap: wrap;
      height: fit-content;
      justify-content: flex-end;
      height: 100%;
      .tag {
        display: flex;
        justify-content: center;
        padding: 0 10px;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        width: max-content;
        border-radius: 10rem;
        height: fit-content;
        background-color: $primary-dark;
      }
    }
  }
}


//1200px
@media only screen and (max-width: $tablet-width) {
}

//1000px
@media only screen and (max-width: $tablet-small-width) {
}

//700px
@media only screen and (max-width: $phone-width) {
  .search-page {

  }

  .search-page-body {

    .search-bar {

      button{

      }
      .inputs {
        .double{
          flex-direction: column;
          gap: 1rem;
        }

      }
      .search-tags {

        .tag-selector {

        }
      }
      .selected-tags {

        .tag {

        }
      }
    }
    .search-pagination{

    }
  }

  .tag-dropdown {

    .tag {

      &:hover {

      }
      label {
        cursor: pointer;
      }
    }
  }

  .search-results {


    .title{

    }
    .result {

      .left {

        .title {

        }
        .created {

          span {

            a {

            }
          }
        }
      }
      .tags {
        display: none;
        .tag {

        }
      }
    }
  }
}